h1 {
  text-align: center;
  width: 50%;
  text-decoration: blue underline;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: rebeccapurple;
}

button {
  color: rgb(128, 121, 128);
}

.item {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item:active:nth-child(odd) {
  color: rgb(162, 226, 43);
  border: 210px;
}

.item:hover {
  border-left: 5px solid rebeccapurple;
}

.item:active {
  color: rebeccapurple;
}
